<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Confirmation</h3>

The student is confirmed: <span th:text="' ' + ${student.firstName} + ' ' + ${student.lastName}" />

<br><br>

Country:<span th:text=" ' ' + ${student.country}" />

<br><br>

Favorite programming Language:<span th:text=" ' ' + ${ student.favoriteLanguage}" /> <!-- it will call getter method-->


</body>
</html>