<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
    First name: <input type="text" th:field="*{firstName}" />
    <!-- *{...} is shortcut syntax for : ${student.firstName}
    When form is loaded, Spring MVC will read student from the model, then call
    student.getFirstName()-->
    <br><br>

    Last name: <input type="text" th:field="*{lastName}" />
    <!-- *{...} is shortcut syntax for : ${student.lastName}
    When form is loaded, Spring MVC will read student from the model, then call
    student.getLastName()-->
    <br><br>

    Country:

    <select th:field="*{country}">

        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" ></option>
                <!--Value sent during form submission-->
                <!--Text displayed to user-->
                <!--loop over the list of countries-->

    </select>

    <br><br>

    <input type="submit" value="Submit" />

</form>

</body>
</html>